body {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: inline-flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    background-color: rgb(22, 22, 22);
    color: white;
}
.header h3 {
    display: inline-flex;
}
.header li {
    margin-left: 100px;
    display: inline-flex;
}
.main {
    display: inline-flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    background-color: crimson;
}
.main a {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: white;
}
.main .atas h2 {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
.main .atas a {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
.main .atas .paspal {
    color: white;
}
.main .atas .paspal h3 {
    width: 50%;
    height: 50%;
}